
footer > .container {
	padding-top: 1em;
	border-top: 1px solid #eee;
}


footer {
	padding-bottom: 40px;
color: #777;
		text-align: center;
}
footer > .container-fluid {
	border-top: 1px solid #e5e5e5;
	padding-top: 2.5em;
	margin-top: 2em;
}

footer .links {
	padding-left: 0;
	margin-top: 20px;
	color: #999;
}
footer .links li {
	display: inline;
	padding: 0;
}
footer .links li:after {
	content: " —";
}
footer .links li:last-child:after {
	content: "";
}
footer .links li:first-child {
	padding-left: 0;
}
footer .links li.active a { font-weight: bold; }

#sidebar {
	background: whitesmoke;
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	border-right: 1px solid #e5e5e5;
}

li.active a { font-weight: bold; }

.deviation-list .deviation {
	border-bottom: 1px solid #ddd;
	margin-top: 5px;
	padding: 10px 5px 10px 15px;
}

.networks > .list-group .btn-sm,
.tokens > .list-group .btn-sm {
	margin-top: -5px;
	margin-right: -9px;
	margin-left: 18px;
}


#sidebar h2 {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

#sidebar h3 {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

/* common stats icons */
#stats li .temperature {
    background: url('../images/display/icon-temperature.png') left center no-repeat;
}
#stats li .co2 {
    background: url('../images/display/icon-co2.png') left bottom no-repeat;
}
.icon .temperature {
    background: url('../images/display/icon-temperature-64.png') left center no-repeat;
    background-size: contain;
}
.icon .co2 {
    background: url('../images/display/icon-co2-64.png') left center no-repeat;
    background-size: contain;
}
#stats li .humidity {
    background: url('../images/display/icon-humidity.png') left center no-repeat;
}
.icon .subjective_evaluation {
    background: url('../images/display/icon-subjective_evaluation.png') left center no-repeat;
}

#model .spinner {
    font-size: 60px;
    position: relative;
    left: 50%;
    top: 50%; /* 68 */
    color: #aaa;
}
#model .spinner i {
    position: relative;
    left: -34px;
    top: -34px;
}
#model .icon { float: left; }
#model .icon div, #model .icon i {
    min-width: 32px; min-height: 32px; margin-top: 2px; background-position: center; text-align: center; display: inline-block; margin-right: 8px;
    font-size: 22px;
}
#model .icon i { margin-top: 6px; color: #aaa; }

.box .legend {
    position: absolute;
    margin: 10px;
    background: #fff;
    border-radius: 8px;
    /*border: 1px solid #eee;*/
    opacity: 0.8;
    width: 370px;
    z-index: 10;
}
.box .legend ul {
    list-type: none;
    padding: 0px; margin: 0px;
}
.box .legend li {
    display: inline-block;
    padding: 4px 8px;
    font-size: 20px;
}
.box .legend .color_block {
    display: inline-block;
    width: 20px;
    height: 18px;
}
