html, body {
	width: 100%;
	height: 100%;
}
.box {
	width: 50%;
	height: 50%;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 8px;
	float: left;
}
#stats ul { list-style: none; padding: 0px; margin: 0px; }
#stats li { display: inline-block; }
