{% extends "base.html" %}
{% load static %}

{% block header %}
<link type="text/css" rel="stylesheet" media="all" href="{% static 'css/operations.css' %}">
{% endblock %}

{% block content %}
<div id="operations">
    <div class="box" id="stats">
    </div>
    <div class="box" id="model" data-token="{{ model_token }}">
    </div>
    <div class="box" id="graphs">
    </div>
    <div class="box" id="alert">
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/events/event_manager.js' %}"></script>
<script type="text/javascript" src="{% static 'js/operations.js' %}"></script>
<script type="text/javascript" src="{% static 'js/operations_stats.js' %}"></script>

<script type="text/javascript" src="https://api.bimsync.com/1.0/js/viewer.js"></script>
<script type="text/javascript" src="{% static 'js/operations_model.js' %}"></script>

<script type="text/javascript" src="{% static 'js/flot/jquery.flot.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flot/jquery.flot.stack.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flot/jquery.flot.categories.js' %}"></script>
<script type="text/javascript" src="{% static 'js/operations_charts.js' %}"></script>

<script type="text/javascript" src="{% static 'justGage.1.0.1/raphael.2.1.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'justGage.1.0.1/justgage.dev.js' %}"></script>
<script type="text/javascript" src="{% static 'js/operations_gauge.js' %}"></script>
{% endblock %}


{% block filters %}
<div class="block">
    <div class="page-header">
        <h2>Filter</h2>
    </div>
</div>
<ul id="filters">
    <li data-param='time_range'>
        <h3>Time</h3>
        <div class="active">
            <a href="javascript:;" data-value='today'>Today</a>
        </div>
        <div>
            <a href="javascript:;" data-value='last_7'>Last 7 Days</a>
        </div>
        <div>
            <a href="javascript:;" data-value='last_week'>Last Week</a>
        </div>
    </li>
</ul>
{% endblock filters %}
