{% extends "base.html"%}

{% load static %}

{% block content %}
<table class="table table-zebra table-bordered" id="data_list">
    <thead>
        <tr>
            <th data-col="name">Power Meter</th>
            <th data-col="kwm">kWm last minute</th>
            <th data-col="kwh">kWh last hour</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/events/event_manager.js' %}"></script>
<script src="{% static 'js/power_meters/overview.js' %}"></script>
<script>
    var event_manager = new aiot.events.EventManager({
        on_event: aiot.power_meters.overview.on_event,
        url: {{ events_url|safe }}
    });
    event_manager.start();
</script>
{% endblock %}
