{% extends "base.html"%}

{% block content %}
<table class="table table-zebra table-bordered" id="data_list">
    <thead>
        <tr>
            <th data-col="name">Room name</th>
            <th data-col="room">Room key</th>
            <th data-col="temp">Temp</th>
            <th data-col="co2">Co2</th>
            <th data-col="db">DB</th>
            <th data-col="lux">LUX</th>
            <th data-col="movement">Movement</th>
            <th data-col="moist">Moist</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function() {
    function updateList() {
    	var $list = $('#data_list');
    	$.ajax({
    		url: "{% url 'dashboard_room_overview_state' %}",
    		type: 'GET',
    		dataType: 'json',
    		success: function(data) {
    			$list.find('.record').remove();

    			$.each(data, function(k, v) {
    				rowHtml = "<tr class='record'>";
				console.log(data);
    				$list.find('th').each(function() {
    					col = $(this).attr('data-col');
					if (col == 'name') {
						rowHtml += "<td><a href=\"" + v['room'] + "\">" + v[col] + "</a></td>";
					}
					else {
						rowHtml += "<td>" + v[col] + "</td>";
					}
    				});
    				rowHtml += "</tr>";
    				$list.append(rowHtml);
    			});
    		}
    	});
    }
    
    setInterval(updateList, 2000);
});
</script>
{% endblock %}
