{% extends "base.html"%}

{% load static %}

{% block header %}
    <link type="text/css" rel="stylesheet" media="all" href="{% static 'css/rooms.css' %}">
{% endblock %}

{% block filters %}
<div class="block">
    <div class="page-header"><h2>Filter</h2></div>
</div>
<ul id="filters">
    <li>
        <h3>Time:</h3>
        <div {% if active_filter == 'last_4_hours' %}class="active"{% endif %}>
            &ndash; <a href="?time=last_4_hours"> Last four hours</a>
        </div>
        <div {% if active_filter == 'today' %}class="active"{% endif %}>
            &ndash; <a href="?time=today">Today</a>
        </div>
        <div {% if active_filter == 'yesterday' %}class="active"{% endif %}>
            &ndash; <a href="?time=yesterday">Yesterday</a>
        </div>
        <div {% if active_filter == 'last_7_days' %}class="active"{% endif %}>
            &ndash; <a href="?time=last_7_days">Last 7 days</a>
        </div>
        <hr />
    </li>
</ul>
{% endblock %}


{% block content %}

<h1>
    {{ room.name }}
</h1>

<div class="container-fluid" id="room-detail-graphs">
    <div class="row">
        <div class="col-md-12">
            <div class="graph" id="graph"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="graph" id="graph-temperature"></div>
        </div>
        <div class="col-md-4">
            <div class="graph" id="graph-co2"></div>
        </div>
        <div class="col-md-4">
            <div class="graph" id="graph-humidity"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="graph" id="graph-noise"></div>
        </div>
        <div class="col-md-6">
            <div class="graph" id="graph-light"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/flot/jquery.flot.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.time.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.navigate.js' %}"></script>
<script src="{% static 'js/events/event_manager.js' %}?v1"></script>
<script src="{% static 'js/rooms/detail.js' %}?v1"></script>
<script>
    var event_manager = new aiot.events.EventManager({
        on_event: aiot.rooms.detail.on_event,
        on_after_events: aiot.rooms.detail.on_after_events,
        on_open: aiot.rooms.detail.on_open,
        url: {{ events_url|safe }},
        stream: {% if filter_dts.stream %}true{% else %}false{% endif %},
        datetime_from: '{{ filter_dts.from.isoformat }}',
        datetime_to: '{{ filter_dts.to.isoformat }}'
    });
    event_manager.start();
</script>
{% endblock %}
