{% extends "base.html"%}

{% load static %}

{% block filters %}
<ul>
    <li>
        Time:<br>
        &ndash; <a><b>Last Activity</b></a><br>
        &ndash; <a>Today</a><br>
        &ndash; <a>Yesterday</a><br>
        &ndash; <a>Last Week</a><br>
        &ndash; <a>Custom Timerange</a><br>
        <hr />
    </li>
</ul>
{% endblock %}


{% block content %}
<div id="graph" style="width: 100%; height:400px;"></div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/flot/jquery.flot.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.time.js' %}"></script>
<script src="{% static 'js/events/event_manager.js' %}"></script>
<script src="{% static 'js/rooms/detail.js' %}"></script>
<script>
    var event_manager = new aiot.events.EventManager({
        on_event: aiot.rooms.detail.on_event,
        on_after_events: aiot.rooms.detail.on_after_events,
        url: {{ events_url|safe }}
    });
    event_manager.start();
</script>
{% endblock %}
