{% extends "base.html" %}

{% load static %}

{% block content %}
    <table class="table table-zebra table-bordered" id="data_list">
        <thead>
            <tr>
                <th data-col="name">Room name</th>
                <th data-col="temp">Temp</th>
                <th data-col="co2">Co2</th>
                <th data-col="db">DB</th>
                <th data-col="lux">LUX</th>
                <th data-col="movement">Movement</th>
                <th data-col="moist">Moist</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/events/event_manager.js' %}"></script>
<script src="{% static 'js/rooms/overview.js' %}"></script>
<script>
    var event_manager = new aiot.events.EventManager({
        on_event: aiot.rooms.overview.on_event,
        url: {{ events_url|safe }},
        stream: true
    });
    event_manager.start();
</script>
{% endblock %}
