{% extends "base.html" %}

{% load static %}

{% block filters %}
    <div class="block">
        <div class="page-header"><h2>Filter</h2></div>
    </div>
    <ul>
        <li>
            <h3>Floor:</h3>
            <div>&ndash; <a><b>Any</b></a></div>
            <div>&ndash; <a>1st floor</a></div>
            <div>&ndash; <a>2nd floor</a></div>
            <div>&ndash; <a>3rd floor</a></div>
            <hr />
        </li>

        <li>
            <h3>Room Type:</h3>
            <div>&ndash; <a><b>All rooms with sensor</b></a></div>
            <div>&ndash; <a>All rooms</a></div>
            {% for room_type in room_types %}
                &ndash; <a>{{ room_type.description }}</a><br>
            {% endfor %}
            <hr />
        </li>
    </ul>
{% endblock %}

{% block content %}
    <h1>Room overview</h1>

    <table class="table table-zebra table-bordered" id="data_list">
        <thead>
            <tr>
                <th data-col="name">Room name</th>
                <th data-col="room_type">Room type</th>
                <th data-col="area">Area</th>
                <th data-col="capacity">Capacity</th>
                <th data-col="temperature">Temperature</th>
                <th data-col="co2">CO2</th>
                <th data-col="noise">Noise</th>
                <th data-col="light">Light</th>
                <th data-col="humidity">Humidity</th>
                <th data-col="movement">Movement</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/events/event_manager.js' %}"></script>
<script src="{% static 'js/rooms/overview.js' %}"></script>
<script>
    var event_manager = new aiot.events.EventManager({
        on_event: aiot.rooms.overview.on_event,
        url: {{ events_url|safe }},
        stream: true
    });
    event_manager.start();
</script>
{% endblock %}
