<tr>
    <td>
        <a href="{% url 'room_detail' room.pk %}">
            {{ room.name }}
        </a>
    </td>
    <td>{{ room.room_type.description }}</td>
    <td>{{ room.area|floatformat:0 }} km2</td>
    <td>{{ room.room_type.manminutes_capacity }} people</td>
    <td>{{ temperature|floatformat:2 }} &#8451;</td>
    <td>{{ co2|floatformat:0 }} ppm</td>
    <td>{{ noise|floatformat:2 }} dB</td>
    <td>{{ light|floatformat:2 }} lux</td>
    <td>{{ humidity|floatformat:2 }}%</td>
    <td>{% if movement %}Yes{% else %}No{% endif %}</td>
</tr>
