{% extends "base.html" %}

{% load static %}

{% block header %}
    <link type="text/css" rel="stylesheet" media="all" href="{% static 'css/rooms.css' %}?v1">
{% endblock %}

{% block filters %}
    <div class="block">
        <div class="page-header"><h2>Filter</h2></div>
    </div>
    <ul id="filters">
        <!--
        <li>
            <h3>Floor:</h3>
            <div>
                &ndash; <a href="?floor=any">Any</a>
            </div>
            <div>
                TODO: Waiting on integration w/BIM
            </div>
            <hr />
        </li>
        -->

        <li>
            <h3>Room Type:</h3>
            <div {% if filter_context.room_type == 'all' %}class="active"{% endif %}>
                &ndash; <a href="?room_type=all">All rooms ({{ filter_context.num_active_rooms }})</a>
            </div>
            {% for room_type in filter_context.available_room_types %}
                <div {% if filter_context.room_type == room_type.pk %}class="active"{% endif %}>
                    &ndash;
                    <a href="?room_type={{ room_type.pk }}">
                        {{ room_type.description }} ({{ room_type.get_active_rooms|length }})
                    </a>
                </div>
            {% endfor %}
            <hr />
        </li>
    </ul>
{% endblock %}

{% block content %}
    <h1>Room overview</h1>

    <table class="table table-zebra table-bordered" id="data_list">
        <thead>
            <tr>
                <th data-col="name">Room name</th>
                <th data-col="room_type">Room type</th>
                <th data-col="area">Area</th>
                <th data-col="capacity">Capacity</th>
                <th data-col="temperature">Temperature</th>
                <th data-col="co2">CO2</th>
                <th data-col="noise">Noise</th>
                <th data-col="light">Light</th>
                <th data-col="humidity">Humidity</th>
                <th data-col="movement">Movement</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/events/event_manager.js' %}?v1"></script>
<script src="{% static 'js/rooms/overview.js' %}?v1"></script>
<script>
    var event_manager = new aiot.events.EventManager({
        on_event: aiot.rooms.overview.on_event,
        url: {{ events_url|safe }},
        stream: true
    });
    event_manager.start();
</script>
{% endblock %}
