#operations .box {
    box-sizing: border-box;
    padding: 8px;
    position: absolute;
    border: 1px solid #eee;
    border-radius: 8px;
    background: #fff;
    overflow-y: hidden;
    overflow-x: hidden;
}

#operations .box h2 {
    padding: 0px; margin: 0px 0px 20px;
    padding: 4px;
    background: #eee;
    font-size: 14px; font-weight: bold;
}
#operations .focusbox {
    cursor: pointer;
}
#stats ul { list-style: none; padding: 0px; margin: 0px; }
#stats li { float: left; width: 50%; padding: 5px; color: #888; }
#stats li div { display: inline-block; }

#stats li .room_name {
    width: 20%;
}

#stats li .deviations {
    width: 80%;
}
#stats li .deviations div {
    width: 20%;
    border-bottom: 1px solid #eee;
}
#stats li .deviations span {
    margin-left: 20px;
}
#stats li .deviations i {
	position: absolute;
	width: 20px;
	text-align: center;
}


#stats li .room_name,
#stats li .quality_index,
#stats li .power_consumption {
    border-bottom: 1px solid #eee;
}

.box .focusbox {
    float: right;
}
.box .focusbox i {
    position: absolute;
    font-size: 20px;
    color: #000;
    margin-left: -20px;
    margin-top: 2px;
    cursor: pointer;
    color: #888;
    z-index: 10;
}
.box .buttons {
    /*float: right;*/
}
.box .buttons ul {
    position: absolute;
    z-index: 10;

    padding: 0px; margin: 0px;
    margin-top: 60px;
    opacity: 0.8;
}
.box .buttons li {
    display: block;
}
.box .buttons .btn {
    display: block;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    width: 150px;
    text-align: left;
    margin-bottom: 4px;
    margin-right: 4px;
}
.box .buttons .btn_bim {
    margin-top: 30px;
}
.box .buttons .btn.active {
    background: #484;
    color: #fff;
}
.box .buttons i {
    display: inline-block;
    min-width: 16px;
}
#graphs .buttons .btn, #graphs .buttons .btn, #graphs .buttons li {
    display: inline-block;
}
#graphs .buttons ul {
    margin-top: 0px;
}
#gauge_warning {
	color: #fff;
	padding: 8px;
	background: #f00;
	position: absolute;
	font-size: 14px;
	z-index: 15;
	text-align: center;
	bottom: 0px;
	border-radius: 8px;
	box-sizing: border-box;
	display: none;
	margin-bottom: 10px;
}
#gauge_warning h3 {
	margin: 0px; padding: 0px;
	font-size: 16px;
}
